---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Main from '../components/Main.astro';
import { CreateShrink } from '../components/CreateShrink';
import { Warning } from '../components/Warning';
import FAQ from '../components/FAQ.astro';
---

<Layout title="shrinkify.app">
    <Main>
        <Header />

        <CreateShrink client:load />

        <FAQ />

        <Warning client:load />
    </Main>
</Layout>
