---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Main from '../components/Main.astro';
import { Warning } from '../components/Warning';
import { App } from '../components/App';
import FAQ from '../components/FAQ.astro';
import Footer from '../components/Footer.astro';

import '../base.css';
---

<Layout
    title="shrinkify.app | The simplest way to create short URLs"
    description="Create a short URL and share it with your friends. It's that easy. No account required. No ads. No tracking. Just short URLs."
>
    <Main>
        <Header />

        <App client:load />

        <FAQ />

        <Warning client:load />

        <Footer />
    </Main>
</Layout>
