<footer aria-labelledby="footer-heading">
    <h2 id="footer-heading" class="sr-only">Footer</h2>
    <div class="mt-4 border-t border-gray-200">
        <p class="py-8 text-right text-xs text-gray-400">
            &copy; {new Date().getFullYear()} Julius Möhring. All rights reserved.
        </p>
    </div>
</footer>
